<!DOCTYPE html>
<html>
<head>
  <title>Weather Map</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width" />
  <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <input id="city" placeholder="Enter city" />
  <button onclick="search()">Search</button>
  <div id="map"></div>
  <div id="info"></div>

  <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
  <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
